@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body{
font-family: "Montserrat";/* Сімейство шрифтів */
font-size: 18px;
background-color:#f4f1ed ;
color:darkgrey;
text-align:center;

}

h1{
  color: darkgrey  ;
  text-align:center;
}
h2{
  color: darkgrey;
  text-align:center;
}

.button_1{
  background:skyblue;
  border:20px;
  border-radius:25px;
}
.button_2{
  background:lightgreen;
  border:20px;
  border-radius:25px;
}
.button_3{
  background:tan;
  border:20px;
  border-radius:25px;
}
.button_4{
  background:pink;
  border:20px;
  border-radius:25px;
}
.button_5{
  background:red;
  border:20px;
  border-radius:25px;
}
.button_6{
  background:violet;
  border:20px;
  border-radius:25px;
}
